<p-dialog header="Add new Task" [modal]="true" [(visible)]="visible">
  <span class="p-text-secondary block mb-5">Add your task.</span>
  <form [formGroup]="form">
    <div class="label-input flex align-items-center gap-3 mb-3">
      <label for="title" class="font-semibold w-6rem">Task Title</label>
      <input
        pInputText
        id="title"
        class="flex-auto"
        autocomplete="off"
        formControlName="title"
        required
      />
    </div>
    <div class="label-input flex align-items-center gap-3 mb-3">
      <label for="description" class="font-semibold w-6rem"
        >Task Description</label
      >
      <input
        pInputText
        id="description"
        class="flex-auto"
        autocomplete="off"
        formControlName="description"
        required
      />
    </div>
    <div class="label-input flex align-items-center gap-3 mb-3">
      <label for="description" class="font-semibold w-6rem"
        >Task Limit Date</label
      >
      <p-calendar formControlName="date" dateFormat="dd/mm/yy" [minDate]="minDate"/>
    </div>

    <div class="button-save">
      <button class="btn btn-success add" (click)="newTask()">Save</button>
    </div>
  </form>
</p-dialog>
