<p-toast></p-toast>

<section class="welcome d-flex flex-wrap">
  <h2>Welcome back</h2>
  <div class="d-flex">
    <ul>
      <li><img src="../../../assets/images/homeSvg/search.svg" alt="" /></li>
      <li>
        <img src="../../../assets/images/homeSvg/notification.svg" alt="" />
      </li>
      <li><img src="../../../assets/images/homeSvg/calendar.svg" alt="" /></li>
    </ul>
    <p>{{ date | date: "dd MMM YYYY" }}</p>
  </div>
</section>

<section class="board d-flex">
  <div class="d-flex">
    <div class="board-select d-flex">
      <img src="../../../assets/images/homeSvg/board.svg" alt="" />
      <p>Board View</p>
    </div>
    <div class="d-flex">
      <img src="../../../assets/images/homeSvg/add.svg" alt="" />
      <p>Add View</p>
    </div>
  </div>
  <div class="d-flex">
    <p>Filter</p>
    <p>Sort</p>

    <button class="btn btn-primary add">New template</button>
  </div>
</section>

<section class="to-do customized-scrollbar d-flex flex-wrap">
  <section class="new-template d-flex">
    <div class="template d-flex">
      <p>To do ({{ lengthTodo }})</p>
      <div class="d-flex add add-top" (click)="openDialog('to-do')">
        <img src="../../../assets/images/homeSvg/add.svg" alt="" />
        <p>Add new task</p>
      </div>
    </div>

    @for (item of todoItems; track item) {
      <div class="tasks">
        <div class="d-flex justify-content-between">
          <h3>{{ item.title }}</h3>
          <img src="../../../assets/images/homeSvg/more.svg" alt="" (click)="openTaskDialog(item, 'to-do')" class="add"/>
        </div>
        <div class="description">
          <h4>{{ item.description }}</h4>
        </div>
        <div class="date">
          <p [ngClass]="{'emergency': item.isEmergency}">{{ item.date | date: "dd MMM YYYY" }}</p>
        </div>
      </div>
    }
  </section>

  <section class="new-template d-flex">
    <div class="template d-flex">
      <p>In progress ({{ lengthInProgress }})</p>
      <div class="d-flex add add-top" (click)="openDialog('in-progress')">
        <img src="../../../assets/images/homeSvg/add.svg" alt="" />
        <p>Add new task</p>
      </div>
    </div>
    @for (item of inProgressItems; track item) {
      <div class="tasks">
        <div class="d-flex justify-content-between">
          <h3>{{ item.title }}</h3>
          <img src="../../../assets/images/homeSvg/more.svg" alt="" (click)="openTaskDialog(item, 'in-progress')" class="add"/>
        </div>
        <div class="description">
          <h4>{{ item.description }}</h4>
        </div>
        <div class="date">
          <p [ngClass]="{'emergency': item.isEmergency}">{{ item.date | date: "dd MMM YYYY" }}</p>
        </div>
      </div>
    }
  </section>

  <section class="new-template d-flex">
    <div class="template d-flex">
      <p>Done ({{ lengthDone }})</p>
      <div class="d-flex add add-top" (click)="openDialog('done')">
        <img src="../../../assets/images/homeSvg/add.svg" alt="" />
        <p>Add new task</p>
      </div>
    </div>

    @for (item of doneItems; track item) {
      <div class="tasks">
        <div class="d-flex justify-content-between">
          <h3>{{ item.title }}</h3>
          <img src="../../../assets/images/homeSvg/more.svg" alt="" (click)="openTaskDialog(item, 'done')" class="add"/>
        </div>
        <div class="description">
          <h4>{{ item.description }}</h4>
        </div>
        <div class="date">
          <p class="done">{{ item.date | date: "dd MMM YYYY" }}</p>
        </div>
      </div>
    }
  </section>
</section>

<!-- Incluir o componente do modal -->
<app-new-task-dialog></app-new-task-dialog>
