::ng-deep .p-dynamic-dialog {
  width: 25rem !important;
  min-height: 55% !important;
}

form {
  margin-top: 3rem;
}
.label-input label {
  padding-right: 2rem;
}

.form-dynamic .label-input input,
::ng-deep .p-inputtext {
  width: 22rem;
}

.button-save {
  margin-top: 2rem;
}

.calendar ::ng-deep .ng-trigger {
  scale: 0.9;
  top: -280px !important;
}

@media (min-width: 768px) {
  ::ng-deep .p-dynamic-dialog {
    width: 32rem !important;
  }

  .form-dynamic .label-input input,
  ::ng-deep .p-inputtext {
    width: 29rem;
  }

  .calendar ::ng-deep .ng-trigger {
    scale: 0.85;
    top: -310px !important;
  }
}
