<form [formGroup]="form" class="form-dynamic">
  <div class="label-input flex align-items-center gap-3 mb-3">
    <label for="title" class="font-semibold w-6rem">Task Title</label>
    <input
      pInputText
      id="title"
      class="flex-auto"
      autocomplete="off"
      formControlName="title"
      required
    />
  </div>
  <div class="label-input flex align-items-center gap-3 mb-3">
    <label for="description" class="font-semibold w-6rem"
      >Task Description</label
    >
    <input
      pInputText
      id="description"
      class="flex-auto"
      autocomplete="off"
      formControlName="description"
      required
    />
  </div>
  <div class="label-input flex align-items-center gap-3 mb-3">
    <label for="description" class="font-semibold w-6rem"
      >Task Limit Date</label
    >
    <p-calendar
      class="calendar"
      formControlName="date"
      dateFormat="dd/mm/yy"
      [minDate]="minDate"
    />
  </div>
  <p [ngClass]="isInvalid ? 'd-block alert alert-danger' : 'd-none'">
    Inform your data correctly
  </p>
  <div class="button-save d-flex gap-2">
    <p-confirmPopup></p-confirmPopup>
    <button class="btn btn-success add update" (click)="updateTask()">
      Update
    </button>
    <button class="btn btn-danger add" (click)="confirmDelete($event)">Delete</button>
  </div>
</form>
