<div class="sidebar-wrapper">
  <p-menubar class="vertical-menubar">
    <section>
      <img src="../../../../assets/images/logo.svg" alt="Logo" />
    </section>

    <ul class="list-sidebar">
        <li>
          <img src="../../../../assets/images/sidebarSvg/projects.svg" alt="">
        </li>
        <li>
          <img src="../../../../assets/images/sidebarSvg/person.svg" alt="">
        </li>
        <li>
          <img src="../../../../assets/images/sidebarSvg/calendar.svg" alt="">
        </li>
        <li>
          <img src="../../../../assets/images/sidebarSvg/settings.svg" alt="">
        </li>
      </ul>
  </p-menubar>
</div>
