.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100%;
  background-color: var(--black);
}

.vertical-menubar {
  background-color: var(--black);
  color: #fff;
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

::ng-deep .vertical-menubar .p-element {
  display: none;
}

::ng-deep .p-menubar {
  background: none;
  border: none;
}

section {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

section img {
  margin: auto;
}

.list-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  gap: 1.5rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .sidebar-wrapper {
    width: 80px;
  }

  .list-sidebar img {
    width: 26px;
    height: 26px;
  }
}
