/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #1c1d22;
  --description: hsla(230, 10%, 12%, 0.5);
  --done: #78d700;
  --progress: #ffa048;
  --limit-date: #ff7979;
  --date: #888da725;
}

body {
  font-family: "Exo 2", sans-serif;
}
h1,
h2,
h3 {
  color: var(--black);
  font-weight: bold;
  font-size: 50%;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 15px;
  padding-right: 5px;
}
h4 {
  font-size: 14px;
  color: var(--description);
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-size: 80%;
}

ul > li {
  list-style: none;
}

.add:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  p {
    font-size: 100%;
  }
}
